html,
body,
.root {
  height: 100%;
  margin: 0;
}

body,
.app {
  background: rgb(199, 199, 199);
}

/* books container  */

.books-list_title {
  padding: 10px 0;
  background: #da4167;
  text-align: center;
  color: #fff;
}

.books-list_content {
  padding: 0 0 80px;
  flex: 1;
}
/* shelf  */
.shelf {
  padding: 0 10px 20px;
}
@media (min-width: 600px) {
  .shelf {
    padding: 0 20px 40px;
  }
}
.shelf-title {
  border-bottom: 2px solid #fff;
}

.shelf-books {
  text-align: center;
}

/* Book  */
.books-box {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-box li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title {
  margin-top: 10px;
  font-size: 0.9em;
}
.book-author {
  font-size: 0.9em;

  color: #fff;
}

.book-position {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.shelf-shfiter {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #da4167;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shelf-shfiter select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover_title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.search-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.search__link {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #da4167;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.13), 0 2px 7px rgba(0, 0, 0, 0.21);
  font-size: 0;
  outline: 0;
}

.open-search__link:hover {
  background-color: #a82949;
}

/* search page */

.search-container-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.input-wrapper {
  flex: 1;
}

.search-container-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-btn-bar {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

.search-results {
  padding: 80px 10px 20px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}



.loading {
  pointer-events: all;
  z-index: 99999;
  width: 6rem;
  height: 6rem;
  top: 50%;
left: 50%;
margin-top: -6rem; /* Negative half of height. */
margin-left: -6rem; 
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #da4167;
  cursor: wait;
  position: fixed;
  animation: spinner 0.6s linear infinite;
}
.loading-overlay {
  background-color: #fff;
  width: 100vw;
  z-index: 999;
  position: fixed;
  height: 100vh;
  opacity: 0.5;
}

.not-found{
  
}